<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>rssObserver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD85520B1BE297FF0072D7B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD8552241BE298000072D7B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD85522F1BE298000072D7B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
